@import './styles/variables.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
   height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: var(--bg);
    color: var(--text);
}